{% extends 'ex03/base.html' %} 

{% block title %}
<title>Exercise 03: Fifty shades of bic</title>
{% endblock title %}

{% block style %}
<style>
    td, th {
      width: 80px;
      height: 50px;
    }
</style>
{% endblock style %}

{% load reverse %}
{% block content %}
<div>
    <table>
      <tr>
        <th>black</th>
        <th>red</th>
        <th>blue</th>
        <th>green</th>
      </tr>
      {% for i in shade %}
      <tr>
        <td style="background-color: #{{i|reverse}}{{i|reverse}}{{i|reverse}}"></td>
        <td style="background-color: #{{i}}0000"></td>
        <td style="background-color: #0000{{i}}"></td>
        <td style="background-color: #00{{i}}00"></td>
      </tr>
      {% endfor %}
    </table>
  </div>
{% endblock content %}